
.c_login {
    width: 330px;
}

.b_login{
    border-radius: 1.25rem!important;
}

.logo{
    width: 11%;
}

.mde{
    font-size: 45px!important;
    color: black!important;
}

.btn_cadastro{
    position: absolute;
    width: 10vw;
    height: 20vh;
}

.env {
    position: absolute;
    margin-top: 50vh;
    border-radius: 10px;
    width: 50vw;
    height: 20vh;
}

.pet{
    margin-top: -11%!important;
    margin-left: 77%!important;   
}

.porte_tipo{
    margin-left: 41%!important;
}

.foto{
    margin-top: 4%!important;
    margin-left: 26%!important;
}

.selfot{
    margin-left: -78%!important;
}