.inbox_msg {
  margin-left: auto;
  margin-right: auto;
  width: 31em;
  border: 1px solid #c4c4c4 ;
  clear: both;
  overflow: hidden;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }

 .received_withd_msg p {   
  background: #f89329 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.received_withd_msg { 
  width: 57%;
}

.mesgs {
  float: left;
  padding: 9px 15px 0 5px;
  width: 100%;
}

.sent_msg p {
  background: #0290cf none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; 
  color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}

.outgoing_msg{ 
  overflow:hidden; 
  margin:26px 0 26px;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #0290cf none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.msg_history {
  height: 509px;
}

.header {
  width: 100%;
  height: 40px;
  background: #ffffff;
  display: inline-block;
  border-bottom: #000000 solid 1px;
  font-family: 'Titan One', cursive;
}

.log {
  position: absolute;
  width: 100px;
  border-radius: 100%;
  margin-left: 10%;
}
.click {
  text-align: center;
}